<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.vo.ProductVO" 
		alias="product"/>
			<typeAlias type="com.vo.CartVO" 
		alias="cart"/>
		<typeAlias type="com.vo.CategoryVO" 
		alias="category"/>
		<typeAlias type="com.vo.UserVO" 
		alias="user"/>
		<typeAlias type="com.vo.CartProductVO" 
		alias="cartproduct"/>
			<typeAlias type="com.vo.UserInput" 
		alias="input"/>
			<typeAlias type="com.vo.OrderDetailVO" 
		alias="orderdetail"/>
			<typeAlias type="com.vo.OrderVO" 
		alias="order"/>
	</typeAliases>
		
	
	<mappers>
		<mapper resource="com/mybatis/shopmapper.xml"/>
		<mapper resource="com/mybatis/shoplistmapper.xml"/>
		<mapper resource="com/mybatis/cartmapper.xml"/>
		<mapper resource="com/mybatis/categorymapper.xml"/>
		<mapper resource="com/mybatis/usermapper.xml"/>
		<mapper resource="com/mybatis/ordermapper.xml"/>
		
	</mappers>
	
</configuration>






