<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderMapper">


	
	<insert id="insert" parameterType="order">
		INSERT INTO ORDERS VALUES(
		ORDER_ID_SEQUENCE.nextval, #{email}, #{totalprice}, sysdate , #{address} , #{order_stat} 
		)
	</insert>
	
	<insert id="insertdetail" parameterType="orderdetail">
		INSERT INTO ORDERDETAIL VALUES(
		ORDER_DETAIL_SEQUENCE.NEXTVAL, #{order_id}, #{product_id}, #{count} 
		)
	</insert>
	
	<update id="update" parameterType="cart">
		UPDATE CART
		SET count=#{count} 
		WHERE BASKET_ID=#{basket_id}
	</update>
	
	<delete id="delete" parameterType="cart">
		DELETE FROM CART
		WHERE BASKET_ID=#{basket_id}
	</delete>
	
	<delete id="clear" parameterType="cart"> <!--  결제시 장바구니 다 지움  -->
		DELETE FROM CART
		WHERE EMAIL=#{email}
	</delete>
	
	
	
	
	<select id="getorderid" 
	resultType="string">
	   select Max(order_id) from orders
	</select>
	
	
	
	
	
	<select id="selectall" resultType="cartproduct"> <!-- 해당 email의 모든 장바구니 조회 -->
	
		
		select * from product p inner join cart c
		on p.PRODUCT_ID=c.PRODUCT_ID
		where c.email=#{email}
		
		
	</select>
	
	
	<select id="findcart_id" resultType="cart"> <!--  몇개들어있냐 -->
		SELECT count(*) FROM CART
		WHERE EMAIL=#{email} 
	</select>
	
	
	<select id="cselect" resultType="cart"> <!--  장바구니 테이블 모두 검색 -->
		SELECT * FROM CART
	</select>
	
	<select id="count" resultType="cart"> <!--  몇개들어있냐 -->
		SELECT count(*) FROM CART
		WHERE EMAIL=#{email} 
	</select>
	
	
</mapper>






















